extends layout

block content
  .panel
    .panel-heading Sign in with Facebook Demo
    .panel-body
      .container.text-center
        a.btn.btn-facebook(href='/auth/facebook') Sign in with Facebook